@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
	<h3>About US</h3>
	<p>@ViewBag.ShortlyAbout</p>
	<div class="read">
		<a href="/About" class="btn btn-primary read-m">Read More</a>
	</div>
</div>

