
@{
	
	Layout = "~/Views/Shared/UserLayout.cshtml";
}



<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->


<body>
	<!--Header-->

	
	<!--//header-->

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
			@RenderBody()

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						<div class="tech-btm">
							<img src="~/images/banner1.jpg" class="img-fluid" alt="">
						</div>
						<div class="tech-btm">
							<h4>Sign up to our newsletter</h4>
							<p>Pellentesque dui, non felis. Maecenas male </p>
							<form  method="post">
								<input type="email" placeholder="Email" id="Email" name ="Email" required="">
								<input id="submitButton" type="submit" value="Subscribe">
							</form>

						</div>
							
						
						@await Component.InvokeAsync("CategoryList")
						@await Component.InvokeAsync("ArticleListByWriter",Convert.ToInt32(ViewContext.RouteData.Values["id"]))
						@await Component.InvokeAsync("RecentPost")
						
					</div>
					
				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
	<!--//main-->
	<!--footer-->
	
	<!---->
	<!-- js -->
	<script src="~/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="~/js/move-top.js"></script>
	<script src="~/js/easing.js"></script>
	<script>
		
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		/* $(document).ready(function () {
			/*
									var defaults = {
											containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
										};
									

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		}); */
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->



</body>

</html>
<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
		$(document).ready(function ($) {
			console.log("aue")
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
</script>
<script src="~/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!--/ start-smoth-scrolling -->
<script src="~/js/move-top.js"></script>
<script src="~/js/easing.js"></script>

<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script type="text/javascript">

	$('#submitButton').click(function () {
		alert("a")

		var formData = new FormData()
		formData.append("Email", $('#Email').val())



		$.ajax({
			type: "POST",
			url: "/Subscriber/AddSubscriber",
			contentType: false,
			processData: false,
			data: formData,
			success: function (func) {

				let result = jQuery.ParseJSON(func)
				console.log(result)

			},
			error: function (result) {
				console.log(result)
			},
			complete: function () {
				alert("Always")
			}
		});
	});

</script>








