@using EntityLayer.Concrete
@model Article
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/UserLayout_SingleBlog.cshtml";
}


<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
	
	@await Html.PartialAsync("Partial_ArticleDetails/ArticleDetails_ArticleItSelf")
	@await Component.InvokeAsync("CommentListByBlog", Model.ID)

	
	
</div>


