<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="~/css/style.css" rel="stylesheet" />

						<div class="tech-btm">
							<img src="~/images/banner1.jpg" class="img-fluid" alt="">
						</div>
						<div class="tech-btm">
							<h4>Sign up to our newsletter</h4>
							<p>Pellentesque dui, non felis. Maecenas male </p>
							<form  method="post">
								<input type="email" placeholder="Email" id="Email" name ="Email" required="">
								<input id="submitButton" type="submit" value="Subscribe">
							</form>

						</div>

<script type="text/javascript">


	$('#submitButton').click(function () {
		
		event.preventDefault()
		var formData = new FormData()
		formData.append("Email", $('#Email').val())

		$.ajax({
			type: "POST",
			url: "/Subscriber/AddSubscriber",
			contentType: false,
			processData: false,
			data: formData,
			success: function (result) {

				swal(result.title,result.text)
				$('#Email').val('')



			},
			error: function (result) {
				console.log(result)
				result = result.responseJSON;
				let subscriber = result.subscriber;
				 swal({
					title: result.title,
					text:result.text,
					icon: "warning",
					buttons :["No","Yes"],
				}).then((Delete) => {
					if (Delete) {
						let subData = new FormData();
						subData.append("Id",subscriber.id)
						subData.append("Email",subscriber.email)
						
						$.ajax({
							type: "POST",
							url: "/Subscriber/DeleteSubscriber",
							contentType: false,
							processData: false,
							data: subData,
							success: function (result) {

								swal("We miss you, dear", {
							icon: "success",
							});
							$('#Email').val('')
								


							},
							error: function (result){
								console.log("Olmadı")
							}
						
					});
					}
					else {
						swal("Good choice, dear! You are still our subscriber");
					}
				}); 
				
			}
		});
		
	});
</script>