@using EntityLayer.Concrete
@model IEnumerable<Comment> 


<div class="comment-top">
	<h4>Comments</h4>
	
		@if(Model.Count() == 0)
		{
			<p>There is not a comment in this blog. <a href="#LeaveComment"> Would you like to be first one?</a></p>
		}
		else
		{
			@foreach(var item in Model)
        {	<div class="media">
             <div class="media-body">
			<h5 class="mt-0">@item.Username</h5>
			<p>
                @item.Content
			</p>
					</div>
			
		</div>
        }
		}
		
       
	
</div>