@using EntityLayer.Concrete
@model CommentViewModel;
<div class="comment-top">
	<h4>Comments</h4>
	<div class="media">


		<div class="media-body">
			<h5 class="mt-0">Tak</h5>
			<p>
				Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
				Cras a ornare elit.
			</p>

			<div class="media mt-3">
				<a class="d-flex pr-3" href="#">

				</a>
				<div class="media-body">
					<h5 class="mt-0">Richard Spark</h5>
					<p>
						Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
						Cras a ornare elit.
					</p>
					<div class="media mt-3">
						<a class="d-flex pr-3" href="#">

						</a>
						<div class="media-body">
							<h5 class="mt-0">Richard Spark</h5>
							<p>
								Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
								Cras a ornare elit.
							</p>
							<div class="media mt-3">
								<a class="d-flex pr-3" href="#">

								</a>
								<div class="media-body">
									<h5 class="mt-0">Richard Spark</h5>
									<p>
										Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
										Cras a ornare elit.
									</p>
									<div class="media mt-3">
										<a class="d-flex pr-3" href="#">

										</a>
										<div class="media-body">
											<h5 class="mt-0">Richard Spark</h5>
											<p>
												Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
												Cras a ornare elit.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/js/addcomment.js"></script>
<script src="~/js/jquery-2.2.3.min.js"></script>
<div id="LeaveComment" class="comment-top">
	<h4>Leave a Comment</h4>
	<div class="comment-bottom">
		<form action="#" method="post">
			<input class="form-control" type="text" name="Username" id="username" placeholder="Name" required="">
			<input class="form-control" type="email" name="Email"  placeholder="Email" required="">

			<input class="form-control" type="text" name="Title" placeholder="Title" required="">

			<textarea class="form-control" name="Content" placeholder="Message..." required=""></textarea>
			<button type="button" onclick="AddComment()" class="btn btn-primary submit">Submit</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	function AddComment(){
		var myData = new FormData()

		myData.append("Username", $("#username").val())
		myData.append("Email",$("#email").val())
		myData.append("Subject",$("#title").val())
		myData.append("Message",$("#content").val())
		myData.append("ArticleId",@Model.ArticleID)

	$.ajax({
		type: "POST",
		contentType: false,
		processData: false,
		url: "/Comment/AddComment",
		data: myData,
		success: (response)=>{
			console.log(response)
		}
	})
	}
</script>